.maintenance, .upcoming-maintenance {
    .maintenance-image, .maintenance-logo {
        text-align: center;
        padding: 15px 30px;
        img {
            max-width: 100%;
            max-height: 250px;
            margin: auto;
        }
    }

    .table th, .table td {
        padding: 0.25em;
    }
}
